extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'
block body
	<img class="lazy" data-src="../img/img1.png" />
	<img class="lazy" data-src="../img/img2.png" />
	<img class="lazy" data-src="../img/img3.png" />
	<img class="lazy" data-src="../img/img4.png" />
	<img class="lazy" data-src="../img/img5.png" />